.operateTools{
  list-style : none;
    position : absolute;
         top : 24px;
       right : 24px;
     opacity : 0;
}
.operateTools li{
    font-size : 16px;
  margin-left : 16px;
       cursor : pointer;
}
.list-group-item:hover .operateTools{
      opacity : 1;
   transition : opacity .5s linear;
}